{
  "env": {
    "node": true
  },
  {
  "extends": ["eslint:recommended", 'angular']
  }
  "globals": {
    "AnalysisView": true,
    "PollingView": true,
    "Prism": true,
    "Spinner": true,
    "Timer": true,
    "moment": true
  }
}